<h3>About</h3>

<p>
  It feels like that this is my 1000th introduction. Actually it is :) I started the whole webdev craziness since 1998, actually worked as a freelancer since then for a few years then I worked in Hungary for companies like Docler Holding.<br>
  I also got some experience in the UK working on websites like foyles.co.uk or tennis.tv and aljazeera.tv<br>
  (I don't link the sites, old projects changed a lot since I worked there)<br>
  Now I am in Norway with an awesome team at SendRegning :)<br>
  Mainly I work as a front-end dev, with JavaScript and CSS/HTML but when I can I code some shell script for Linux/Mac or playing with Ruby.<br>
  I had many many many blogs before but I failed because I always wanted to have the best articles and I got disappointed by no one seeing them. But not this time I post about everything nerd and geek for myself as a future knowledge/thought base. If you like it as well I am happy and please feel free to comment.
</p>
