<div id="posts"></div>

<script type="text/html" id="tmpl">
  <% for(var i in this.entry.reverse()) { %>
    <% if(this.entry[i].title) { %>
      <article id="entry_<% i %>">
        <h3 name="entry_<% i %>">
          <a href="#"><% this.entry[i].title %></a>
        </h3>
        <p>
          <time datetime="<% this.entry[i].date %>"><% this.entry[i].date %></time>
        </p>
        <div>
          <% this.entry[i].content %>
        </div>
      </article>
    <% } %>
  <% } %>
</script>
