<div id="posts"></div>

<script type="text/html" id="tmpl">
  <% if(route.search('filter')) { %>
    <article id="entry_<% route.search('filter') %>">
      <h3 name="entry_<% route.search('filter') %>">
        <a href="#/post?filter=<% route.search('filter') %>"><% this.feed.entry[route.search('filter')].title.$t %></a>
      </h3>
      <p><% this.feed.entry[route.search('filter')].updated.$t %></p>
      <% this.feed.entry[route.search('filter')].content.$t.replace('content:', '') %>
    </article>
  <% } else { %>
    <p>
      Article #<% route.search('filter') %> could not be found...
    </p>
  <% } %>
</script>
