body {
  background: #272822;
  color: #c8c8c2;
  font: 300 1.2em monospace;
}

::selection {
  background-color: #f92672;
}

::-moz-selection {
  background-color: #f92672;
}

.show {
  transition: opacity 1600ms;
}

.hide {
  opacity: 0;
}

a {
  color: #79abff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1e90ff;
  text-decoration: underline;
}

h1 {
  text-shadow: 2px 2px 5px #000;
  font-size: 2em;
  margin-top: 3px;
  padding-left: 32px;
  background: url(../images/hand.png) no-repeat left center;
}

aside {
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article {
  border-bottom: 1px dotted #424242;
  padding-bottom: 15px;
  line-height: 1em;
}

article:last-of-type {
  border: 0;
}

article:first-child h3 {
  margin-top: 0;
}

article h3:hover {
  cursor: pointer;
}

article h3:hover:after {
  content: " #";
  color: #f92672;
}

pre {
  background-color: #111;
  color: #fff;
  font: normal 0.8em "Courier New";
  padding: 10px;
  border: 1px solid #333;
  border-left-width: 5px;
}
